/DSassignment/nbproject/private/
/Minecraft/nbproject/private/
/Minecraft/build/
/Minecraft/dist/

/Minecraft/src/minecraft/database_item1.java
/Minecraft/src/minecraft/database_item2.java
/Minecraft/src/minecraft/database_item3.java
/Minecraft/src/minecraft/database_item4.java
/Minecraft/src/minecraft/database_item5.java
/Minecraft/src/minecraft/database_item6.java
/Minecraft/src/minecraft/database_item7.java
/Minecraft/src/minecraft/database_item8.java
/Minecraft/src/minecraft/database_item9.java
/Minecraft/src/minecraft/database_itemBox.java
/Minecraft/src/minecraft/database_summary.java
/Minecraft/src/minecraft/database_user.java